@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light+Two&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	line-height: 1.2em;
	color: #333;
	margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{
	background: url(/img/cork.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.top{
	height: 40px;
	width: 100%;
	background-color: #3B2103;
	position: fixed!important;
	top:0;
	z-index: 1000!important;
}

.top #header {
	margin-top: 0.5%;
	margin-left: 2%;
	color: #ffffff;
	font-size: 1.9em;
	font-family: 'Lobster', cursive;
}

#boardcontent{
	margin: 60px auto;
	width: 98%;
	padding: 2%;
	height: 100%;

}

.frame{
	display: inline-block;
	padding:20px;
}
.polaroid{
	background: #FFF;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 15px 15px 30px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0,.3);
	box-shadow: 0 6px 8px rgba(0,0,0,.3);
	z-index: 0;
}


.polaroid img{
	width: 100%;
	height: auto;
	object-fit: contain;

}

.quote {
	background-color: #FFFA75;
	padding: 0 15px;
	display: inline-block;
	-webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0,.3);
	box-shadow: 0 6px 8px rgba(0,0,0,.3);
}

.quote p{
	font-family: 'Indie Flower';
	font-size: 1.4em;
	line-height: 1.6em;
}

.code{
	background-color: #f0f0f0;
	padding:2px 10px;
	display: inline-block;
	-webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 8px rgba(0,0,0,.3);
	box-shadow: 0 6px 8px rgba(0,0,0,.3);
}

.pinkcolor{
	color: #E0048C;
}

.purplecolor{
	color: #BB51FC;
}

.yellowcolor{
	color: #FFF478;
}

.turqoise{
	color: #00A4BD;
}

.pin_red{
	margin-left:-16px;
  	background-image:url(/img/pin_red.svg);
  	background-repeat: no-repeat;
  	background-size: 50%;
  	width:75px;
  	height:75px;
  	position:absolute;
  	top:-30px;
  	left:45%;
  	z-index:200;
}

.pin_blue {
	margin-left:-16px;
		background-image:url(/img/pin_blue.svg);
		background-repeat: no-repeat;
		background-size: 60%;
		width:75px;
		height:75px;
		position:absolute;
		top:-30px;
		left:45%;
		z-index:201;
}

.pin_green {
	margin-left:-16px;
		background-image:url(/img/pin_green.svg);
		background-repeat: no-repeat;
		background-size: 40%;
		width:75px;
		height:75px;
		position:absolute;
		top:-30px;
		left:55%;
		z-index:202;
}
